body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    /*font-family: Impact, Charcoal, sans-serif;*/
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

    overflow: hidden;
    background: #F3F3F3;
}

* {
    box-sizing: border-box;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}
@keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@-webkit-keyframes CardBackAnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@-moz-keyframes CardBackAnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes CardBackAnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}







/* dot animation*/


@-webkit-keyframes DotAnimation {
    0% {
        transform: translate3d(0px,0px,0);
    }
    25% {
        transform: translate3d(0px,-120px,0);
    }
    50% {
        transform: translate3d(0px,0,0);
    }
    75% {
        transform: translate3d(0px,120px,0);
    }
    100% {
        transform: translate3d(0px,0,0);
    }
}
@-moz-keyframes DotAnimation {
    0% {
        transform: translate3d(0px,0px,0);
    }
    25% {
        transform: translate3d(0px,-120px,0);
    }
    50% {
        transform: translate3d(0px,0,0);
    }
    75% {
        transform: translate3d(0px,120px,0);
    }
    100% {
        transform: translate3d(0px,0,0);
    }
}
@keyframes DotAnimation {
    0% {
        transform: translate3d(0px,0px,0) rotate(0);
        /*padding-top:120px;*/
    }
    25% {
        transform: translate3d(0px,-120px,0) rotate(0);
        /*padding-top:0;*/
    }
    50% {
        transform: translate3d(0px,0,0) rotate(0);
        /*padding-top:120px;*/
    }
    75% {
        transform: translate3d(0px,120px,0) rotate(0);
        /*padding-top:0;*/
    }
    100% {
        transform: translate3d(0px,0,0) rotate(0);
        /*padding-top:120px;*/
    }
}
