body, html {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family: Impact, Charcoal, sans-serif;
}

.board {
  background:#3b3ff3;
  min-height:100%;
  width:100%;
  padding-top:10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
}

.board {
  background: linear-gradient(53deg, #3b3ff3, #dfdfdf, #7d1711);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 31%
  }
  50% {
    background-position: 100% 70%
  }
  100% {
    background-position: 0% 31%
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 31%
  }
  50% {
    background-position: 100% 70%
  }
  100% {
    background-position: 0% 31%
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 31%
  }
  50% {
    background-position: 100% 70%
  }
  100% {
    background-position: 0% 31%
  }
}

.board.hasActiveCard .card {
  display: none;
  pointer-events: none;
}

.board.hasActiveCard .card.active {
  display: block;
  pointer-events: all;
}

.card {
  height:150px;
  width:100px;
  background:gray;
  margin:10px;
  position: relative;
  box-shadow: 0 5px 10px -5px #8C8C8C;
}

.card .number {
  display:block;
  margin-top:35px;
  font-size:60px;
  color:#2B2B2B;
  text-align: center
}

.card-front, .card-back {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.card-front{
  display: block;
  background:white;
}
.card-back {
  display: none;
  background:#1A1F1A;
}

.card.active {
  position: fixed;
  top:50%;
  left:50%;
  margin-left:-160px;
  margin-top:-220px;
  width:320px;
  height:440px;
  box-shadow: 0 5px 40px -5px #000000;
}

.card.active .number {
  margin-top:70px;
  font-size:230px;
}

.card.active .card-front {
  display:none;
}
.card.active .card-back {
  display:block;
}

.card.active.flipped {
}

.card.active.flipped .card-front {
  display:block;
}
.card.active.flipped .card-back {
  display:none;
}
