.board.hasActiveCard {
transform-style: preserve-3d;
}

.board.hasActiveCard .boardCard {
    display: none;
    pointer-events: none;
}
.board.hasActiveCard .boardCard.active {
    display:block;
    pointer-events: all;
}
.boardCard {
    margin: 5px 5px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border-radius: 5px;*/

    transform: rotateY(0);
    transition: 0.6s;
    transform-style: preserve-3d;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*.boardCard:hover:after {
    border: 3px solid rgba(255, 255, 255, 0.7);
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
}*/
.boardCard .number {
    display: block;
    color: #2B2B2B;
    text-align: center;
    pointer-events: none;

    transition: 0.6s;
}
.boardCard-front, .boardCard-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /*transition: 0.6s;*/
    transform-style: preserve-3d;

    box-shadow: 0 5px 10px -5px #8C8C8C;

    border-radius: 6px;
}
.boardCard-front {
    /*display: block;*/
    transform: rotateY(0deg);
    background:yellow;
    z-index: 2;

    transform: rotateY(0);
}
.boardCard-back {
    /*display: none;*/
    background: black;

    transform: rotateY(180deg);
}
.boardCard.active {
    /*position: absolute;
    top: 0;
    left: 50%;
    margin-left: -120px;*/
    /* margin-top: -220px; */
    transform: rotateY(180deg);
}

.boardCard--small {
    height: 90px;
    width: 60px;
    /*margin: 0 0 5px 0;*/
}

.boardCard--big {
    height: 120px;
    width: 80px;
}
.boardCard--big.active {
    width: 200px;
    height: 300px;
}

.boardCard--small .number {
    margin-top: 26px;
    font-size: 26px;
}
.boardCard--big .number {
    margin-top: 26px;
    font-size: 50px;
}
.boardCard--big.active .number {
    margin-top: 70px;
    font-size: 125px;
}


.boardCard.boardCard--small,
.boardCard.boardCard--small .boardCard-front,
.boardCard.boardCard--small .boardCard-back {
    border-radius: 6px;
}
.boardCard--big.active,
.boardCard--big.active .boardCard-front,
.boardCard--big.active .boardCard-back {
    border-radius: 22px;
}
.boardCard--big,
.boardCard--big .boardCard-front,
.boardCard--big .boardCard-back {
    border-radius: 10px;
}

.boardCard.active .boardCard-front {
}
.boardCard.active .boardCard-back {
}
.boardCard.active.flipped {
    transform: rotateY(0);
}

.boardCard.active.flipped .boardCard-front {
    /*transform: rotateY(0);*/
    /*display: block;*/
}
.boardCard.active.flipped .boardCard-back {
    /*transform: rotateY(-180deg);*/
    /*display: none;*/
}
