<template name="boardUser">
    <div class="boardUser {{#if isOnline}}online{{/if}}">
        <div class="boardCard {{ theme }} boardCard--small boardCard-{{ cardId }} {{activeClassName}} {{flippedClassName}}">

            <div class="boardCard-dot"></div>
            <div class="boardCard-front">
                {{#if flippedClassName }}
                    <span class="number">{{ cardNumber }}</span>
                {{/if}}
            </div>
            <div class="boardCard-back"></div>

        </div>

        <div class="boardUser-user {{isCurrentUserClassName}}">{{ userName }}</div>
    </div>
</template>
