<template name="board">


    <!-- {{#if board}}
        {{! board.slug}}
    {{else}}
        <div class="connecting">
            connecting board ...
        </div>
    {{/if}} -->

    <div class="header">
      <a href="/" class="header-button header-button--left"><i class="fa fa-angle-left"></i></a>
      <div class="header-title">
        {{ title }}
      </div>
    </div>

    <div class="boardUsers theme2 {{#if spectator}}boardUsers-full{{/if}}">
        {{#unless boardUsers}}
            <div class="connecting">connecting users ...</div>
        {{else}}
            {{#each boardUsers}}
                {{> boardUser}}
            {{/each}}
        {{/unless}}
    </div>

    {{#unless spectator}}
        <div class="board theme2 {{ hasActiveCardClassName }}">
            {{#each cards}}
                {{> boardCard}}
            {{/each}}
        </div>

        <div class="boardThemeSelect">
            <select name="boardTheme">
                <option value="theme1" selected="{{isCurrentTheme "theme1"}}">Default Theme</option>
                <option value="theme2" selected="{{isCurrentTheme "theme2"}}">Redbooth Scrum poker cards</option>
                <option value="theme3" selected="{{isCurrentTheme "theme3"}}">Ninja Theme</option>
                <!-- <option value="theme4" selected="{{isCurrentTheme "theme4"}}">Batman Theme</option> -->
            </select>
        </div>
    {{/unless}}

</template>
