<template name="board">

    <div class="header">
        {{ title }}
    </div>

    <!-- {{#if board}}
        {{! board.slug}}
    {{else}}
        <div class="connecting">
            connecting board ...
        </div>
    {{/if}} -->

    <div class="boardUsers theme2 {{#if spectator}}boardUsers-full{{/if}}">
        {{#unless boardUsers}}
            <div class="connecting">connecting users ...</div>
        {{else}}
            {{#each boardUsers}}
                {{> boardUser}}
            {{/each}}
        {{/unless}}
    </div>


    {{#unless spectator}}
    <div class="board theme2 {{ hasActiveCardClassName }}">
        {{#each cards}}
            {{> boardCard}}
        {{/each}}
    </div>

    <div class="boardThemeSelect">
        <select name="boardTheme">
            <option value="theme1" selected="{{isCurrentTheme "theme1"}}">Theme 1</option>
            <option value="theme2" selected="{{isCurrentTheme "theme2"}}">Theme 2</option>
        </select>
    </div>
    {{/unless}}

</template>
