.board.hasActiveCard {
transform-style: preserve-3d;
}

.board.hasActiveCard .boardCard {
    display: none;
    pointer-events: none;
}
.board.hasActiveCard .boardCard.active {
    display:block;
    pointer-events: all;
}
.boardCard {
    height: 120px;
    width: 90px;
    margin: 5px 5px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border-radius: 5px;*/

    transform: rotateY(0);
    transition: 0.6s;
    transform-style: preserve-3d;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*.boardCard:hover:after {
    border: 3px solid rgba(255, 255, 255, 0.7);
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
}*/
.boardCard .number {
    display: block;
    margin-top: 25px;
    font-size: 55px;
    color: #2B2B2B;
    text-align: center;
    pointer-events: none;
    font-family: Impact, sans-serif;

    transition: 0.6s;
}
.boardCard-front, .boardCard-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /*transition: 0.6s;*/
    transform-style: preserve-3d;

    box-shadow: 0 5px 10px -5px #8C8C8C;
}
.boardCard-front {
    /*display: block;*/
    background: white;
    transform: rotateY(0deg);
    z-index: 2;

    transform: rotateY(0);
}
.boardCard-back {
    /*display: none;*/
    background: #1A1F1A;
    background: linear-gradient(270deg, #000000, #f9ff00);
    background-size: 400% 400%;
    -webkit-animation: CardBackAnimationName 2s ease infinite;
    -moz-animation: CardBackAnimationName 2s ease infinite;
    animation: CardBackAnimationName 2s ease infinite;

    transform: rotateY(180deg);
}
.boardCard.active {
    /*position: absolute;
    top: 0;
    left: 50%;
    margin-left: -120px;*/
    /* margin-top: -220px; */
    width: 240px;
    height: 340px;

    transform: rotateY(180deg);
}

.boardCard.active .number {
    margin-top: 70px;
    font-size: 140px;
}
.boardCard.active .boardCard-front, .boardCard.active .boardCard-back {
    /*display: block;*/
}
.boardCard.active .boardCard-front {
    /*display: none;*/
}
.boardCard.active .boardCard-back {

    /*display: block;*/
}
.boardCard.active.flipped {
    transform: rotateY(0);
}

.boardCard.active.flipped .boardCard-front {
    /*transform: rotateY(0);*/
    /*display: block;*/
}
.boardCard.active.flipped .boardCard-back {
    /*transform: rotateY(-180deg);*/
    /*display: none;*/
}
