.board {
    display: flex;
    width: 100%;
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    position: relative;
    perspective: 1000px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #F3F3F3;
    border-bottom: 1px solid #EAEAEA;
    /*background: #F3F3F3;*/
    -webkit-transition: 1s;
    transition: 1s;
}
.boardUsers {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /*flex:auto;*/
    min-height: 150px;
    height: 150px;
    /*max-height: 256px;*/
    /*max-height: 400px;
    min-height: 120px;*/
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #FBFBFB;
    padding:10px;
    border-bottom: 1px solid #EAEAEA;

    /*
    background: linear-gradient(53deg, #3b3ff3, #dfdfdf, #7d1711);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 21s ease infinite;
    -moz-animation: AnimationName 21s ease infinite;
    animation: AnimationName 21s ease infinite;*/

    -webkit-transition: 1s;
    transition: 1s;
}
.boardUsers-full {
    flex: auto;
    height: auto;
    flex-wrap: wrap;
}
.boardThemeSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-height: 30px;
}

.boardThemeSelect select {
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  min-height: 30px;
  background:transparent;
  border:0px;
  width:100%;
  padding:0 10px;
  outline:0;
}
