.boardUser {
    min-width: 70px;

    flex:auto;

    perspective: 400px;
}

.boardUsers .boardCard {
    margin:5px auto;
}

.boardUsers .boardCard.idle {
    transform:scale(0.2);
    transition: transform 1s;
}
.boardCard .boardCard-dot {
    opacity:1;
    background:transparent;
    border-radius: 60px;
    height:60px;

    position: absolute;
    z-index:100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    transition: 0.6s;
    transform-style: preserve-3d;
}

.boardCard.idle .boardCard-dot {
    -webkit-animation: DotAnimation 2s linear infinite;
    -moz-animation: DotAnimation 2s linear infinite;
    animation: DotAnimation 2s linear infinite;
}


.boardCard.flipped .boardCard-dot,
.boardCard.active .boardCard-dot_ {
    opacity:1;
    border-radius: 6px;
    background:#fff;
    height: 100%;
}

.boardCard.active .boardCard-dot {
    opacity:0;
    /*background:blue;*/
}

.boardUsers .boardCard.idle .boardCard-front {
    opacity:0;
    /*background:green;*/
}

.boardUsers .boardCard.active .boardCard-front {
    opacity: 0;
}

.boardUsers .boardCard.active.flipped .boardCard-front {
    opacity: 1;
}

.boardUser .boardCard.active {
    /*transform:scale(1);*/
}

.boardUser-user {
    text-align:center;
    width:100%;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
    font-size: 11px;
    height: 28px;
    /*color:#84FFB3;*/
    /*text-shadow:0 1px 3px #8C8C8C;*/
}

.boardUser-user.isCurrentUser {
    color:#929292;
}

/*
.boardUser:nth-child(0) .boardUser-card {
    transform: rotateZ(5deg);
}
.boardUser:nth-child(1) .boardUser-card {
    transform: rotateZ(2deg);
}
.boardUser:nth-child(2) .boardUser-card {
    transform: rotateZ(7deg);
}
.boardUser:nth-child(3) .boardUser-card {
    transform: rotateZ(-5deg);
}
.boardUser:nth-child(4) .boardUser-card {
    transform: rotateZ(7deg);
}
.boardUser:nth-child(5) .boardUser-card {
    transform: rotateZ(-4deg);
}
.boardUser:nth-child(6) .boardUser-card {
    transform: rotateZ(-5deg);
}*/
